body {
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: #f9faf8;
    margin: 0;
    padding: 0;

}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    margin: 20px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2px;
}

.menu-item {
    display: flex;
    color: #f9faf8;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    justify-content: space-around;
    margin: 10px;
    align-items: center;
}

.menu-item a {
    color: #f9faf8; 
    text-decoration: none;
    padding: 10px;
}

.body {
    display: flex;
    flex-direction: column;
}

.main-head {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    color: #f9faf8;
    font-family: 'Roboto', sans-serif;
    background-color: #1F2937;
    padding: 200px;
    font-family: 'Roboto', sans-serif;
    
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.description button {
    padding: 10px;
    white-space: nowrap;
}

.main-head img {
    margin: 10px;
    max-height: 300px;
    border-radius: 10%;
    border: 2px solid white;
}

.description button {
    width: 100px;
    border-radius: 15%;
    padding: 15px;
    border: 0px;
    background-color: #3882F6;
    color: white;
}

.projects {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: 'Roboto', sans-serif;
    align-items: baseline;
}

.project, h3, a {
    margin: 20px;
    color: #1F2937;
    text-decoration: none;
}

.project img {
    width: 200px;
    border: solid #1F2937 2px;
    border-radius: 10%;
}

.quotes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    background-color: #E5E7EB;
}

.quote {
    color: white;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    background-color: #1F2937;
    color: #f9faf8;
    padding: 10px;
}

.footer a {
    color: #f9faf8; 
    text-decoration: none;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: small;
}